<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="Department" >
    <id column="D_ID" property="dId" jdbcType="DECIMAL" />
    <result column="D_NAME" property="dName" jdbcType="VARCHAR" />
    <result column="D_TIME" property="dTime" jdbcType="TIMESTAMP" />
    <collection property="positions" ofType="Position">
      <id property="pId" column="P_ID"/>
      <result property="pName" column="P_NAME"/>
      <result property="pSalary" column="P_SALARY"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    D_ID, D_NAME,D_TIME
  </sql>
  <select id="selectAllDepartment" resultMap="BaseResultMap"  >
    select td.*,tp.*
    from T_DEPARTMENT td LEFT JOIN T_POSITION tp
    ON  tp.D_ID=td.D_ID
  </select>
  <select id="selectById" resultType="com.iotek.model.Department">
    select td.*,tp.*
    from T_DEPARTMENT td,T_POSITION tp
    WHERE tp.D_ID=td.D_ID
  </select>
  <select id="selectAllDep_pos_empl" resultMap="BaseResultMap">
     select td.*,tp.*
    from  T_DEPARTMENT td LEFT JOIN (select
    tp.*,te.*
    from T_POSITION tp LEFT JOIN T_EMPLOYEE te
    ON tp.P_ID=te.E_PID)tp
    ON  tp.D_ID=td.D_ID
  </select>
  <delete id="deleteById" parameterType="Department" >
    delete from T_DEPARTMENT
    where D_ID = #{dId,jdbcType=DECIMAL}
  </delete>

  <insert id="addDepartment" parameterType="Department" >
    insert into T_DEPARTMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        D_ID,
      </if>
      <if test="dName != null" >
        D_NAME,
      </if>
      <if test="dTime != null" >
        D_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        #{dId,jdbcType=DECIMAL},
      </if>
      <if test="dName != null" >
        #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dTime != null" >
        #{dTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.iotek.model.Department" >
    update T_DEPARTMENT
    <set >
      <if test="dName != null" >
        D_NAME = #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dTime != null" >
        D_TIME = #{dTime,jdbcType=VARCHAR},
      </if>
    </set>
    where D_ID = #{dId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotek.model.Department" >
    update T_DEPARTMENT
    set D_NAME = #{dName,jdbcType=VARCHAR},
    D_TIME = #{dTime,jdbcType=TIMESTAMP}
    where D_ID = #{dId,jdbcType=DECIMAL}
  </update>
</mapper>