<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.RecruitmentInformationMapper">
    <resultMap id="BaseResultMap" type="com.iotek.model.RecruitmentInformation" >
        <id column="REC_ID" property="recId" jdbcType="DECIMAL" />
        <result column="REC_TITLE" property="recTitle" jdbcType="VARCHAR" />
        <result column="REC_CONTENT" property="recContent" jdbcType="VARCHAR" />
        <result column="REC_TIME" property="recTime" jdbcType="TIMESTAMP" />
        <result column="D_ID" property="dId"/>
        <result column="P_ID" property="pId"/>
        <result column="REC_STATE" property="recState"/>
     </resultMap>
    <sql id="Base_Column_List" >
        REC_ID, REC_TITLE, REC_CONTENT, REC_TIME,REC_STATE,D_ID,P_ID
    </sql>
    <insert id="addRecruitmentInformation">
        INSERT INTO T_RECRUITMENT_INFORMATION (REC_TITLE, REC_CONTENT,REC_STATE,D_ID,P_ID) VALUES
        (#{recTitle},#{recContent},#{recState},#{pId},#{dId})
    </insert>
    <select id="selectByID" resultMap="BaseResultMap" parameterType="RecruitmentInformation" >
        select
        <include refid="Base_Column_List" />
        from T_RECRUITMENT_INFORMATION
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </select>
    <select id="selectALLInformation" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_RECRUITMENT_INFORMATION
    </select>
    <select id="selectInformation" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM (SELECT tr.* ,rownum rn FROM T_RECRUITMENT_INFORMATION tr)R
        WHERE R.rn BETWEEN ((currentPage-1)*PAGESIZE+1) AND currentPage*PAGESIZE;
    </select>
    <delete id="deleteByID" parameterType="RecruitmentInformation" >
        delete from T_RECRUITMENT_INFORMATION
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </delete>

    <update id="updateByID" parameterType="com.iotek.model.RecruitmentInformation" >
        update T_RECRUITMENT_INFORMATION
        <set >
            <if test="recTitle != null" >
                REC_TITLE = #{recTitle,jdbcType=VARCHAR},
            </if>
            <if test="recContent != null" >
                REC_CONTENT = #{recContent,jdbcType=VARCHAR},
            </if>
            <if test="recTime != null" >
                REC_TIME = #{recTime,jdbcType=TIMESTAMP},
            </if>
            <if test="recState != null" >
                REC_STATE = #{recState,jdbcType=TIMESTAMP},
            </if>
            <if test="pId != null" >
                P_ID = #{pId,jdbcType=TIMESTAMP},
            </if>
            <if test="dId != null" >
                D_ID = #{dId,jdbcType=TIMESTAMP},
            </if>
        </set>
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>
</mapper>